main
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.banniere-image
{
    width: 100%;
    height: 450px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/fansite3/hero-image.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    
}
.banniere-texte
{
    color: white;
    position: relative;
    top: 50%;

}

section
{
    display: flex;
    flex-direction: column;

}

  
  /* Add some padding inside the card container */
  .container-texte-galerie{
    padding: 2px 16px;
    width: 50%;

  }
.container-galerie 
{
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 30%;

}
  #galerie
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
  }